$fruits:(
    apple: red,
    orange: orange,
    banana: yellow,
    frutilla: pink,
);

.fruit-color{
    @each $fruit, $color in $fruits{
        &.#{$fruit}{
            background-color: $color;
            padding: 10px;
            list-style: none;
        }
    }
}